@import "~bulma/sass/utilities/_all.sass";

// Set your colors
$primary: #2b3f74;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes 
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Disable the desktop breakpoint
$desktop-enabled: false;
// Disable the widescreen breakpoint
$widescreen-enabled: false;
// // Disable the fullhd breakpoint
$fullhd-enabled: false;

// Override Variables
$card-content-padding: 1rem;

// Disable materialDesignShittyIcons
$materialDesignIcons: false;


// @import "~bulma/sass/elements/button.sass"

@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";
@import '~bulma-timeline';

.body {
  background: $primary;
}

header {
  z-index: 10;
}

.main {
  padding: 1rem;
  background: #fff;
}

@import "./partials/home.scss"