.header {
    .hero {
        background-position: center;
        background-size: cover;

        .hero-body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
        h2.title {
            font-size: 10vw;
            font-weight: 700;
            color: transparent;
            -webkit-text-stroke: 0.4vw $secondary;
            text-transform: uppercase;
            position: relative;
            box-sizing: border-box;
            line-height: 1.2em;
        }
        
        h2.title::before {
            // box-sizing: border-box;
            text-align: left;
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            color: white;
            -webkit-text-stroke: 0.4vw $secondary;
            border-right: 0.6vw solid white;
            overflow-x: hidden;
            overflow-y: hidden;
            animation: animate 3s linear forwards;
            white-space: nowrap;
        }
    }
    
    @include touch {
        .hero-body {
            padding: 5rem 1.5rem;
        }
    }
}

@keyframes animate {
    0%, 20% {
        width: 0%;
    }
    100% {
        width: 102%;
    }
}
